/* +++++++++++++++++++++++++++++++++++++ GLOBAL STYLES FOR SITESSSSSS +++++++++++++++++++++++++++++++++++++*/
.casino-section {
  background-position: top center !important;
  height: calc(100vh - 120px);
  overflow: hidden;
}

.header .top-bar .top-bar-content .login-bar .logout-button,
.header .top-bar .top-bar-content .login-bar .shop-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.header .top-bar .top-bar-content .login-bar .logout-button a,
.header .top-bar .top-bar-content .login-bar .shop-button a {
  height: auto !important;
}
.forgot-password-page
  .forgot-password-holder
  .forgot-password-content
  .form-holder
  input[type="submit"] {
  background: #288835 !important;
  color: #fff !important;
  border: 0 !important;
}
.forgot-password-content {
  padding: 45px;
}
.registration-page.agent-registration .agent-buttons .single-button {
  height: auto !important;
}

.logged-center .change-password-page.edit-user-page {
  background-color: transparent !important;
}
.logged-center .change-password-page.edit-user-page .row .cell {
  border-color: var(--tableBorders) !important;
}

.logged-center .usrlist #client_list td {
  padding: 5px;
}

.logged-center .usrlist #betlist a {
  font-weight: bold;
  color: #222;
}

.usrlist-inner {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  text-align: center;
  table-layout: fixed;
}

.usrlist-inner thead tr th {
  background-color: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  border: 1px solid var(--tableBorders);
  padding: 5px 0;
  font-weight: 500;
}

.usrlist-inner thead tr th:nth-child(1) {
  width: 50px;
}

.usrlist-inner thead tr th:nth-child(2) {
  width: 140px;
}

.usrlist-inner tbody tr th {
  background-color: var(--teableSubHeadersBg);
  color: var(--teableSubHeadersCol);
  border: 1px solid var(--tableBorders);
  padding: 5px 0;
  font-weight: 500;
}

.usrlist-inner tbody tr td {
  border: 1px solid #c2c1c1;
  padding: 4px 0;
  background-color: #ebebeb;
  color: #222;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usrlist-inner tbody tr td:nth-child(1) {
  width: 50px;
}

.usrlist-inner tbody tr td:nth-child(2) {
  width: 140px;
}

.usrlist-inner tbody tr td .lev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.usrlist-inner tbody tr td .lev-arrow-0 {
  padding: 0 5px;
  font-size: 16px;
}

.usrlist-inner tbody tr td .lev-arrow-1 {
  padding: 0 5px;
  font-size: 16px;
  color: #00aeef;
}

.usrlist-inner tbody tr td .lev-arrow-1.fa-circle-o {
  font-size: 8px;
}

.usrlist-inner tbody tr td .lev-arrow-2 {
  padding: 0 5px;
  font-size: 16px;
  color: #ec008c;
}

.usrlist-inner tbody tr td .lev-arrow-2.fa-circle-o {
  font-size: 8px;
}

.usrlist-inner tbody tr td .lev-arrow-3 {
  padding: 0 5px;
  font-size: 16px;
  color: #00a651;
}

.usrlist-inner tbody tr td .lev-arrow-3.fa-circle-o {
  font-size: 8px;
}

.usrlist-inner tbody tr td .lev-arrow-4 {
  padding: 0 5px;
  font-size: 11px;
  color: #fec900;
}

.usrlist-inner tbody tr td .lev-arrow-4.fa-circle-o {
  font-size: 8px;
}

.usrlist-inner tbody tr td .lev-num-0 {
  background-color: #fff;
  padding: 2px 5px;
  color: #222;
}

.usrlist-inner tbody tr td .lev-num-1 {
  background-color: #00aeef;
  padding: 2px 5px;
  color: #fff;
}

.usrlist-inner tbody tr td .lev-num-2 {
  background-color: #ec008c;
  padding: 2px 5px;
  color: #ebebeb;
}

.usrlist-inner tbody tr td .lev-num-3 {
  background-color: #00a651;
  padding: 2px 5px;
  color: #ebebeb;
}

.usrlist-inner tbody tr td .lev-num-4 {
  background-color: var(--accent-bg);
  padding: 2px 5px;
  color: var(--accent-txt);
}

.usrlist-inner tbody tr td .usr-nm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5px;
}

.usrlist-inner tbody tr td .usr-nm-title {
  text-align: left;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usrlist-inner tbody tr td .knd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
}

.usrlist-inner tbody tr td .knd-ico-00 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/person-na.png);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  width: 20px;
  height: 17px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-01 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/person-na.png);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  width: 20px;
  height: 17px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-10 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/joystick-ico.png);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  width: 20px;
  height: 17px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-11 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/cash-reg-ico.png);
  background-repeat: no-repeat;
  background-size: 16px 15px;
  width: 20px;
  height: 17px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-20 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/shop-ico.png);
  background-repeat: no-repeat;
  background-size: 16px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-21 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/shop-ico.png);
  background-repeat: no-repeat;
  background-size: 16px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-30 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-shirt.png);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-31 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-shirt.png);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-70 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-suit.png);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .knd-ico-71 {
  margin-right: 5px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-suit.png);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
}

.usrlist-inner tbody tr td .ln-title {
  text-decoration: none;
}

.usrlist-inner tbody tr td .status-no .status-0 {
  width: 12px;
  height: 12px;
  background-color: red;
  display: inline-block;
  border-radius: 10px;
}

.usrlist-inner tbody tr td .status-no .status-1 {
  width: 12px;
  height: 12px;
  background-color: green;
  display: inline-block;
  border-radius: 10px;
}

.popin-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.popin-inner {
  background-color: lightgray;
  width: 550px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 10px 11px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px 6px rgba(0, 0, 0, 0.75);
}

.popin-head {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
}

.popin-head-inner {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popin-head-inner .ph-a-ico {
  margin-right: 10px;
}

.popin-head-inner .ph-b {
  width: 15px;
  height: 12px;
  position: relative;
  cursor: pointer;
}

.popin-head-inner .ph-b-ico {
  position: absolute;
  top: -2px;
}

div.token-input-dropdown {
  width: 285px;
}

.popin-det {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popin-det-lab {
  text-align: right;
  color: #222;
}

.popin-det-lat .token-input-list {
  width: auto;
}

.popin-det-lat .token-input-list .token-input-input-token input {
  padding: 0 5px;
  height: 25px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid var(--tableBorders);
  outline: 0;
  background-color: #fff;
  color: #222;
}

.popin-det-lat-sel {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #062164;
  background-image: url(//nextra.nextra.bet/nextra/images/v.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right -1px center;
  width: 100%;
  height: 25px;
  outline: 0;
  padding: 0px 25px 0px 5px;
  cursor: pointer;
  filter: grayscale(1);
}

.popin-det-lat-text {
  padding: 0 5px;
  height: 25px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid var(--tableBorders);
  outline: 0;
}

.popin-form {
  padding: 10px 20px;
}

.popin-form-inner {
  border: 1px solid var(--tableBorders);
  border-radius: 5px;
  padding: 20px 40px;
  margin-bottom: 15px;
}

.popin-form-btn {
  display: block;
  margin: 0 auto;
  outline: 0;
  border: 0;
  color: #fff;
  background-color: #2e9c3d;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.popin-form-btn-ico {
  background-color: #fff;
  color: #2e9c3d;
  padding: 4px 5px;
  margin-right: 5px;
}

.popin-form-btn:hover {
  opacity: 0.9;
}
.cl-popin {
  display: none !important;
}
.op-popin {
  text-decoration: none;
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  padding: 5px 15px 5px 5px;
  display: inline-block;
  border-radius: 5px;
}

.op-popin-ico {
  padding: 5px;
  margin-right: 15px;
}

.op-popin:hover {
  opacity: 0.9;
}
.logged-page .logged-menu ul li .sub-menu li a {
  transition: 0.3s;
  height: 35px;
  display: flex;
  align-items: center;
}

.logged-page .logged-menu ul li .sub-menu li a:hover {
  background-color: var(--accent-bg);
  color: var(--accent-txt);
  opacity: 0.9;
}

.logged-page .logged-menu ul li a i,
.logged-page .logged-menu ul li span i {
  padding: 8px;
}
.logged-page .grid {
  max-width: 100%;
}
.logged-center .change-password-page .input-wrapper {
  border-bottom: 1px solid var(--tableBorders);
}
.first-header td {
  padding: 0 8px;
  white-space: nowrap;
  line-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bet-confirm-popup-wrapper .bet-confirm-popup {
  color: #222;
}
body .odd.selected {
  width: auto;
}
.odds-block-type-percentages .odd,
.center-content .percentage-block .bets .bet .odd {
  width: 50px;
}

/* .logged-center #couponhtml ~ #mainpage .transaction-filters .row:first-child {
  width: 100%;
  padding-right: 50%;
} */
.input-holder .ui-datepicker-trigger {
  filter: grayscale(1) brightness(0) invert(0);
}
.odd {
  width: auto;
  min-width: 31px;
}

footer {
  background: var(--mainBg);
}

footer .footer-copyright {
  background: var(--bg1);
}

.single-sport .anchor.sport-112 .icon {
  background-image: url(//nextra.nextra.bet/biwinner/images/sport-icons/sport-icon-112.svg);
}

.betlist-legend-holder .legend .single-item:after {
  background: #dcb630;
}

.betlist-legend-holder .legend .single-item.cancelled:after {
  background-color: #0073b9;
}

.logged-page .transactions-table.betlist-table td .result-holder:after {
  background: #dcb630;
  border-radius: 50px;
}
body .casino-section .casino-container .casino-inner {
  width: 100%;
  padding-top: 310px;
  height: calc(100% - 312px) !important;
  overflow: scroll;
}
.tabletsOdds .single-tab:first-child {
  margin-left: 0;
}

.betlist-legend-holder .legend .single-item:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 3px;
  height: 14px;
  width: 14px;
  background: #0073b9;
  border-radius: 3px;
}

.betlist-legend-holder .legend .single-item.won:after {
  background-color: #2da050;
}

.betlist-legend-holder .legend .single-item.partially-won:after {
  background-color: #924add;
}

.betlist-legend-holder .legend .single-item.lost:after {
  background-color: #ff423d;
}

.betlist-legend-holder .legend .single-item.cancelled:after {
  background-color: #dcb630;
}

.betlist-legend-holder .legend .single-item.evaluation:after {
  background-color: #769a2f;
}

.betlist-legend-holder .legend .single-item.cashout:after {
  background-color: #f4c685;
}

.betlist-legend-holder .legend .single-item.promotion:after {
  background-color: #c929ad;
}

.betlist-legend-holder .legend .single-item.admin:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-suit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.agent:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/user-shirt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.shop:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/shop-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.player:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/joystick-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.cashier:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/cash-reg-ico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.removed:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  height: 20px;
  width: 18px;
  border-radius: 2px;
  background-image: url(//nextra.nextra.bet/nextra/images/person-na.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: #ebebeb;
}

.betlist-legend-holder .legend .single-item.active:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 3px;
  height: 14px;
  width: 14px;
  background: green;
  border-radius: 10px;
}

.betlist-legend-holder .legend .single-item.unactive:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 3px;
  height: 14px;
  width: 14px;
  background: red;
  border-radius: 10px;
}
