// $skin: "bbgame";
// $cdnPath: "//nextra.pcluster.info/#{$skin}";
// $imagesPath: "//nextra.pcluster.info/#{$skin}/images";

// $logoUrl: "https://nextra.pcluster.info/bbgame/images/logo2.svg";
// $bodyBg: "https://gradm-api.pcluster.info/api/skin/3/image/d097e5fdbc4d51a79ef62900353404e1.png";
// $bodyCol: #000;

// //invet 1 light skin inver 0 dark skin (images)
// $invet: 1;
// html:root {
//   --accent: #95cd3b;
//   --accent-bg: #95cd3b;
//   --accent-txt: #000;
//   --primary-bg: #000;
//   --primary-txt: #fff;
//   --secondary-bg: #212931;
//   --secondary-txt: #fff;
//   --mainBg: #212931;
//   --mainBgCol: #fff;
//   --bg1: #29333b;
//   --col1: #fff;
//   --teableHeadersBg: #384351;
//   --teableHeadersCol: #ffffff;
//   --teableSubHeadersBg: #14191d;
//   --teableSubHeadersCol: #ffffff;
//   --tableBorders: #445461;
//   --casinoGradient1: linear-gradient(
//     to right,
//     #95cd3b00 3%,
//     #95cd3b 60%,
//     #95cd3b00 99%
//   );
//   --casinoGradient1-txt: #000;
//   --casinoGradient2: #636363;
//   --casinoGradient2-txt: #000;
//   --backDrops: #000000cf;
//   --skin: "bbgame";
// }

// $secondary: #95cd3b;
// $secondaryCol: #fff;
// $black: #000000;
// $secondaryDark: #95cd3b;
// $secondaryDarkCol: #fff;
// $primary: #607d8b;
// $white: #ebebeb;
// $blue: #262ca8;
// $green: #2e9c3d;
// $red: #e1042e;
// $sb-2: #525b61;

// body {
//   background-size: 2038px !important;
// }

// .main-content.home-page
//   .left-side-bar
//   .single-block:first-child
//   .block-title
//   span,
// .main-content.home-page
//   .right-side-bar
//   .single-block:first-child
//   .block-title
//   span,
// .main-content.home-page
//   .right-side-bar
//   .single-block:nth-child(2)
//   .block-title
//   span {
//   color: var(--accent-bg);
//   font-weight: 500;
// }

// .single-sport .states .state .championship.selected .anchor {
//   color: var(--accent);
// }
// .single-sport
//   .states
//   .state
//   .championship
//   .anchor
//   .check
//   input:checked
//   ~ .checkmark:after,
// .single-sport
//   .states
//   .state
//   .championship
//   .anchor
//   .check
//   input:checked
//   ~ .checkmark {
//   border-color: var(--accent) !important;
// }

// .tabs-holder .tabs-row .inner-tabs .single-inner-tab:hover,
// .tabs-holder .tabs-row .inner-tabs .single-inner-tab.active {
//   border: 1px solid var(--accent-bg) !important;
//   background: transparent !important;
//   color: inherit !important;
// }

// .tabs-holder .tabs-row .single-tab {
//   border-bottom: 2px solid transparent !important;
// }

// .tabs-holder .tabs-row .single-tab:hover,
// .tabs-holder .tabs-row .single-tab.active {
//   border-bottom: 2px solid var(--accent-bg) !important;
//   background: transparent !important;
//   color: inherit !important;
// }
// .odds-table .second-header {
//   opacity: 1 !important;
// }

// .side-bar
//   .single-block.betslip-holder
//   .betslip
//   .selections-wrapper
//   .single-event
//   .selected-bet
//   .bet
//   .quote {
//   color: var(--accent);
// }

// body.landing-page {
//   background-color: #31343d !important;
//   background-image: none;
// }
// .center-content.live-center-content {
//   grid-template-columns: 1fr 340px !important;
// }
// html body .sport.active[id*="LVSPORT"] {
//   .single-match .match-info,
//   .single-match .match-odds {
//     background: var(--bg1) !important;
//     color: var(--col1) !important;
//   }
// }
// .sport.active .single-match {
//   border-left: 0 !important;
// }
// body {
//   .allmatches-head,
//   .sports-container .matches .single-match .match-odds .single-odd-type {
//     background: #14191d;
//   }
// }
// html {
//   .live-odds-table table tr td.odd-holder .single-live-odd .label,
//   span.odd-type,
//   .odds-table .second-header td {
//     color: var(--accent);
//   }
// }
// //casino live
// .clive-container > .clive-inner > .clgames-container:nth-child(2) {
//   display: block;
//   margin-bottom: 0;
// }
// .clive-container .clive-inner {
//   display: flex;
//   flex: 1 1;
//   justify-content: space-between;
//   align-items: center;
// }

// .casino_container .casino_type .ct_games_container > .ctg_games:nth-child(1) {
//   &:before {
//     background-image: url(//nextra.pcluster.info/masterbet/images/casinolive/clive-banner1.jpg) !important;
//   }
// }

// .banner-block {
//   a[href="/Sport/became-an-agent"] {
//     position: relative;
//     &:after {
//       content: "";
//       width: 100%;
//       height: 300px;
//       background: url(//nextra.pcluster.info/masterbet/images/bookra.jpg);
//       height: 300px;
//       display: block;
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       top: 100%;
//       background-repeat: no-repeat;
//       background-size: contain;
//     }
//     &:before {
//       content: "";
//       width: 100%;
//       height: 300px;
//       background: url(//nextra.pcluster.info/masterbet/images/evo.jpg);
//       height: 300px;
//       display: block;
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       top: 200%;
//       background-repeat: no-repeat;
//       background-size: contain;
//     }
//   }
// }

// body [data-page="prematch-event"] .sport_quote_view .quota .quota {
//   background: transparent;
//   color: var(--accent);
// }
// body [data-page="prematch-event"] .sport_single_quote {
//   margin: 4px 2px !important;
//   border-radius: 3px;
// }

// //poker on mob
// body .casino_container .ctg_game_item[data-name="DBGPOKER"] {
//   display: none !important;
// }
// body .fast_menu_option:last-child {
//   display: flex;
// }
// [data-logged][data-access] .single_menu_item.poker {
//   display: block !important;
// }
// .icon-menu-poker:before {
//   content: "\e98d";
// }
// //end poker on mob

// //changes for masterbet
// #favouriteTournaments {
//   flex-flow: initial;
//   padding: 0px 2px;
//   li {
//     width: 100%;
//     flex-shrink: inherit;
//     background: transparent;
//     border: none;
//     z-index: 0;
//     &:after {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       z-index: -1;
//       width: 100%;
//       height: 100%;
//       border-radius: 5px;
//       background: linear-gradient(
//         90deg,
//         var(--teableSubHeadersBg) 0,
//         var(--teableHeadersBg)
//       );
//       // box-shadow: 0 0 6px rgb(20 25 29);
//       transition: box-shadow 0.1s ease-in-out;
//       transform: translate(-50%, -50%) skew(-25deg);
//     }
//     &.active {
//       background: transparent;
//       &:after {
//         content: "";
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         z-index: -1;
//         width: 100%;
//         height: 100%;
//         border-radius: 5px;
//         background: linear-gradient(
//           90deg,
//           var(--accent-bg) 0,
//           var(--accent-bg)
//         );
//         // box-shadow: 0 0 6px rgb(20 25 29);
//         transition: box-shadow 0.1s ease-in-out;
//         transform: translate(-50%, -50%) skew(-25deg);
//       }
//     }
//   }
// }

// #upcomingBets {
//   .sports-filter-upcoming {
//     width: auto;
//     display: inline-block;
//     float: right;
//     margin-top: -36px;
//     height: 36px;
//     ul li {
//       line-height: 36px;
//     }
//   }
// }

$skin: "skylive";
$cdnPath: "//nextra.pcluster.info/#{$skin}";
$imagesPath: "//nextra.pcluster.info/#{$skin}/images";

$logoUrl: "//nextra.pcluster.info/skylive/images/newlogo.svg";
$bodyBg: "https://gradm-api.pcluster.info/api/skin/10/image/e926ea0ce337f075ae8d79d396ed8feb.jpeg";
$bodyCol: #000;

//invet 1 light skin inver 0 dark skin (images)
$invet: 0;

html:root {
  --accent: ##fec550;
  --accent-bg: ##fec550;
  --accent-txt: #000;
  --primary-bg: #ffffff;
  --primary-txt: #707070;
  --secondary-bg: #1d1d1d;
  --secondary-txt: #fff;
  --mainBg: #0e121d;
  --mainBgCol: #fff;
  --bg1: #333844;
  --col1: #fff;
  --teableHeadersBg: #fec550;
  --teableHeadersCol: #000000;
  --teableSubHeadersBg: #414755;
  --teableSubHeadersCol: #ffffff;
  --tableBorders: #161d2f;
  --casinoGradient1: #000000;
  --casinoGradient1-txt: #fff;
  --casinoGradient2: #f4c100;
  --casinoGradient2-txt: #000;
  --backDrops: #000000cf;
  --skin: "skylive";
}

$secondary: #f4c100;
$secondaryCol: #fff;
$black: #000000;
$secondaryDark: #d1a813;
$secondaryDarkCol: #222;
$primary: #b8bfd2;
$white: #ebebeb;
$blue: #262ca8;
$green: #2e9c3d;
$red: #e1042e;
$sb-2: #333844;

.second-header td {
  color: #fec900 !important;
}

.themeContainer {
  position: absolute;
  /* left: 0; */
  top: 8px;
  cursor: pointer;
  font-size: 12px;
}
