html:root {
  --accent: #005293;
  --accent-bg: #005293;
  --accent-txt: #ffcc00;
  --primary-bg: #005293;
  --primary-txt: #ffffff;
  --secondary-bg: #ffffff;
  --secondary-txt: #000;
  --mainBg: #ffffff;
  --mainBgCol: #000;
  --bg1: #e7e7e7;
  --col1: #000;
  --teableHeadersBg: #ffcc00;
  --teableHeadersCol: #000000;
  --teableSubHeadersBg: #005293;
  --teableSubHeadersCol: #ffffff;
  --tableBorders: #a3a3a3;
  --casinoGradient1: #00000000;
  --casinoGradient1-txt: rgba(255, 255, 255, 0);
  --casinoGradient2: #f4c100;
  --casinoGradient2-txt: #000;
  --backDrops: #000000cf;
  --skin: "bsport10";
}

#favouriteTournaments li:before {
  -webkit-filter: brightness(0.1);
          filter: brightness(0.1);
}

.side-bar .single-block .block-content form input[type="submit"] {
  background-color: var(--accent-txt);
}

body.landing-page {
  background-color: #181e2c !important;
  background-image: none;
}

html #LVSPORT_1 .anchor {
  background: #1b7700 !important;
  color: #fff !important;
}

html #LVSPORT_1 .single-match {
  border-left: 3px solid #45dc2d;
}

html #LVSPORT_1 .single-match .match-info,
html #LVSPORT_1 .single-match .match-odds {
  background: -webkit-gradient(linear, left top, right top, color-stop(-37%, #1b7700), color-stop(110%, #6ea683));
  background: linear-gradient(to right, #1b7700 -37%, #6ea683 110%);
  color: #fff;
}

html #LVSPORT_1 .single-match.selected {
  border-right: 3px solid #45dc2d;
  border-left: 1px solid var(--tableBorders);
}

html #LVSPORT_1 .single-match.selected .match-info,
html #LVSPORT_1 .single-match.selected .match-odds {
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #7d9e73), color-stop(160%, #ffffff));
  background: linear-gradient(to left, #7d9e73 11%, #ffffff 160%);
  color: #000;
}

html #LVSPORT_5 .anchor {
  background: #bf9a17 !important;
  color: #000 !important;
}

html #LVSPORT_5 .single-match {
  border-left: 3px solid #deb826;
}

html #LVSPORT_5 .single-match .match-info,
html #LVSPORT_5 .single-match .match-odds {
  background: -webkit-gradient(linear, left top, right top, color-stop(-21%, #bf9a17), color-stop(120%, #f0f0f0));
  background: linear-gradient(to right, #bf9a17 -21%, #f0f0f0 120%);
  color: #000;
}

html #LVSPORT_5 .single-match.selected {
  border-right: 3px solid #deb826;
  border-left: 1px solid var(--tableBorders);
}

html #LVSPORT_5 .single-match.selected .match-info,
html #LVSPORT_5 .single-match.selected .match-odds {
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #f7c924), color-stop(160%, #f0f0f0));
  background: linear-gradient(to left, #f7c924 11%, #f0f0f0 160%);
  color: #222;
}

html #LVSPORT_2 .anchor {
  background: #91311d !important;
  color: #fff !important;
}

html #LVSPORT_2 .single-match {
  border-left: 3px solid #c74227;
}

html #LVSPORT_2 .single-match .match-info,
html #LVSPORT_2 .single-match .match-odds {
  background: -webkit-gradient(linear, left top, right top, color-stop(-21%, #91311d), color-stop(120%, #db7965));
  background: linear-gradient(to right, #91311d -21%, #db7965 120%);
  color: #fff;
}

html #LVSPORT_2 .single-match.selected {
  border-right: 3px solid #e44f31;
  border-left: 1px solid var(--tableBorders);
}

html #LVSPORT_2 .single-match.selected .match-info,
html #LVSPORT_2 .single-match.selected .match-odds {
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #e74d2e), color-stop(160%, #fff));
  background: linear-gradient(to left, #e74d2e 11%, #fff 160%);
  color: #222;
}

html #LVSPORT_23 .anchor {
  background: #e6a260 !important;
  color: #222 !important;
}

html #LVSPORT_23 .single-match {
  border-left: 3px solid #f1c394;
}

html #LVSPORT_23 .single-match .match-info,
html #LVSPORT_23 .single-match .match-odds {
  background: -webkit-gradient(linear, left top, right top, color-stop(-21%, #e6a260), color-stop(120%, #fff));
  background: linear-gradient(to right, #e6a260 -21%, #fff 120%);
  color: #222;
}

html #LVSPORT_23 .single-match.selected {
  border-right: 3px solid #ffeddb;
  border-left: 1px solid var(--tableBorders);
}

html #LVSPORT_23 .single-match.selected .match-info,
html #LVSPORT_23 .single-match.selected .match-odds {
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ffbb76), color-stop(160%, #fff));
  background: linear-gradient(to left, #ffbb76 11%, #fff 160%);
  color: #222;
}

html #LVSPORT_4 .anchor {
  background: #006290 !important;
  color: #fff !important;
}

html #LVSPORT_4 .single-match {
  border-left: 3px solid #1d8bbe;
}

html #LVSPORT_4 .single-match .match-info,
html #LVSPORT_4 .single-match .match-odds {
  background: -webkit-gradient(linear, left top, right top, color-stop(-21%, #006290), color-stop(120%, #40b9f2));
  background: linear-gradient(to right, #006290 -21%, #40b9f2 120%);
  color: #fff;
}

html #LVSPORT_4 .single-match.selected {
  border-right: 3px solid #1b8fc5;
  border-left: 1px solid var(--tableBorders);
}

html #LVSPORT_4 .single-match.selected .match-info,
html #LVSPORT_4 .single-match.selected .match-odds {
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #1291cc), color-stop(160%, #fff));
  background: linear-gradient(to left, #1291cc 11%, #fff 160%);
  color: #222;
}

body {
  background: #333;
  font-family: arial, helvetica, sans-serif;
}

table {
  font-size: 12px;
}

.ClickPageStyle {
  width: 100%;
  padding: 0;
  font-size: 11px;
  position: relative;
  border-radius: 5px;
}

.ClickPageStyle2 {
  width: 100%;
  padding: 0;
  font-size: 11px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  background: var(--accent-bg);
  color: var(--accent-txt);
}

.ClickSectionStyle {
  color: #ebebeb;
}

.ClickDescStyle {
  font-size: 14px;
  font-weight: 700;
  width: 30%;
  text-align: center;
  padding-bottom: 4px;
}

.ClickDescStyle .Dati {
  position: absolute;
  top: 0;
  right: 0;
}

.FastCodes {
  border: 1px solid #5a5a5a;
  border-radius: 5px;
}

.FastCodes:hover {
  cursor: default;
}

.clickCQ {
  text-align: left;
  color: #ea611c;
  text-align: center;
  font-weight: 700;
  padding: 1px 0 0 5px;
}

.clickCQ_shortcut {
  text-align: left;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 1px 0 0 5px;
  height: 20px;
}

.clickCQ_selection {
  text-align: left;
  color: var(--accent);
  text-align: center;
  font-weight: 700;
  padding: 1px 0 0 5px;
}

.clickCQ_group {
  text-align: left;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 1px 0 0 5px;
  text-transform: uppercase;
}

.clickCodCQ {
  text-align: right;
  width: 50%;
  padding: 1px 10px 1px 0;
  font-weight: 700;
  color: #ddd;
}

.clickTQ {
  text-align: left;
  width: 50%;
  padding: 1px 0 1px 10px;
  color: #fff;
}

.FastCodes TR:hover TD {
  background-color: #333;
  color: #fff;
}

.line_hover:nth-child(even) {
  background: #676767;
}

.line_hover:hover {
  background: #f2eec9;
}

.line_hover:hover .clickCQ_group,
.line_hover:hover .clickCQ_shortcut {
  color: #000;
}

.line_hover:hover .clickCQ_selection {
  color: #2d4595;
}

.ClickSectionStyle .ClickDescStyle:nth-child(2) {
  text-align: left;
  padding-left: 50px;
}

.ClickSectionStyle .ClickDescStyle {
  text-align: right;
  padding-right: 50px;
}

.ClickDescStyle[colspan="3"] {
  text-align: center;
  padding: 5px 0;
}

.clickCQ_shortcut {
  text-align: right;
  padding: 1px 63px 0 0;
}

.clickCQ_selection {
  text-align: left;
  padding: 1px 0 0 63px;
}

td.market {
  text-align: left;
  color: #000;
  padding: 5px 0;
  font-weight: bold;
  font-size: 14px;
  background: #fdfefe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfefe), to(#b0b0b1));
  background: linear-gradient(to bottom, #fdfefe 0, #b0b0b1 100%);
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
}

td.market span {
  padding-right: 116px;
  width: 46%;
  display: inline-block;
  float: left;
  text-align: right;
}
/*# sourceMappingURL=betcode.css.map */